<div class="card card-header text-white bg-success">
    <h6>
        Add PFE
    </h6>
</div>

<form class="form-horizontal">
    <div  >
        <br>
        <div  class="row"> 
        <label for="inputEmail3" class="col-sm-2 control-label">Titre PFE</label>
        <div class="col-sm-10 ">
            <input  class="form-control" type="text" name="titre" placeholder="Titre" [(ngModel)]="pfe.titre">
        </div>
        </div>
    </div>
<br>    <div  >

        <div  class="row"> 

        <label for="selected" class="col-sm-2 control-label">Type PFE</label>
        <div class="col-sm-10 ">
        <select id="Selected" class="form-control" name="type"  placeholder="Choix type PFE" [(ngModel)]="pfe.typepfe">
           
            <option *ngFor="let p of listType "  [ngValue]="p" >{{p.type}}</option>
          
        </select>
    </div></div>
    </div>
    <br>
        <button   type="button" class="btn btn-primary btn-lg btn-block" (click)="savepfe()"   > Ajouter un PFE </button>
       
    </form>
    